.card-group {
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
  text-align: center;
}

.movieCard {
  width: 30%;
  margin: 1rem;
  border: solid rgb(20, 0, 63) 2px;
  border-radius: 5px;
}

.movieCard img {
  width: 90%;
  margin: 1rem auto;
}
