div.card {
  box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2), 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.19) !important;
}

div.card-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 2vw 0;
  text-align: center;
}

.movieCard .card {
  height: 100%;
  min-width: 300px;
}
div.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}



@media only screen and (min-width: 400px) {
  div.card-group {
  grid-template-columns: repeat(2, 1fr);
  }
  .movieCard .card {
    min-width:auto;
  }
}
@media only screen and (min-width: 600px) {
  div.card-group {
  grid-template-columns: repeat(3, 1fr);
  }
  div.container-fluid {
  padding: 0 1vw !important;
  /* background-color: blueviolet; */
  margin: 0 !important;
}
}
@media only screen and (min-width: 800px) {
  div.card-group {
  grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  div.card-group {
  grid-template-columns: repeat(5, 1fr);
  }
}




.movieCard {
  /* max-width: 20vw; */
  margin: 1vw 0.75vw;
  border: solid rgb(20, 0, 63) 0.12vw;
  border-radius: 0.5vw;
}

.movieCard img {
  width: 95%;
  margin: 1vw auto;
}

.movieComment {
  width: 100%;
  min-height: 10vw;
  border-radius: 0.5vw;
  background-color: purple;
  text-align: center;
  margin: 1vw 0.1vw;
  padding: 0.5vw;
  box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2), 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.19) !important;
}

.movieComment-YES {
  color: black;
  background-color: white;
}
.movieComment-NO {
  color: grey;
  background-color: rgb(220, 221, 156);
}

.movieComment-NO:focus {
  color: black;
  background-color: white;
}

button.btn {
  /* width: 100%; */
  margin: 0.1em 0.1em;
  box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2), 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.19) !important;
}

button.commentBtn {
  width: 98%;
  margin: 0 auto 0 auto;
  padding: 0.25em 2em;
}
button.removeBtn {
  width: 90%;
  margin: 0 auto 0.5em auto;
  padding: 0.25em;
}

button.btn.commentBtnActive {
  background-color: blue;
  animation-duration: 3s;
  animation-name: submitBtn;
  animation-iteration-count: infinite;
}
@keyframes submitBtn {
  from {
    background-color: blue;
    border: 1px solid blue;
    color: white;
  }
  50% {
    background-color: rgb(243, 255, 138);
    color: blue;
  }
  to {
    background-color: blue;
    border: 1px solid blue;
    color: white;
  }
}

button.btn.commentBtnActive:hover {
  background-color: rgb(96, 194, 129) !important;
  color: white !important;
}

button.updateBtn {
  width: 98%;
  margin: 0 auto 0 auto;
  padding: 0.25em 2em;
}

button.btn.updateBtn {
  background-color: blue;
  font-weight: bold;
  animation-duration: 3s;
  animation-name: updateBtn;
  animation-iteration-count: infinite;
}
@keyframes updateBtn {
  from {
    border: 2px solid blue;
    /* background-color: blue;
    border: 1px solid blue;
    color: white; */
  }
  50% {
    border: 2px solid rgba(255, 255, 0, 0.8);
    background-color: rgb(127, 127, 255);
    /* color: blue; */
  }
  to {
    border: 2px solid blue;
    /* background-color: blue;
    border: 1px solid blue;
    color: white; */
  }
}

button.btn.updateBtn:hover {
  background-color: rgb(96, 194, 129) !important;
  color: white !important;
}
